@use 'variables' as *;

.about-section {
  background-color: $surface;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &__info {
    margin-right: 2rem;
  }

  &__photo-box {
    flex: 1 0 auto;
    width: 350px;
    max-width: 40%;
    padding: 0 2rem;
    overflow: hidden;
    font-size: 0;
    box-shadow: 1px 1px 7px -4px $text;
  }

  &__photo {
    width: 100%;
    height: auto;
    filter: grayscale(0.3);
  }

  // &__subtitle {
  // }

  // &__text {
  // }
}
