@use 'variables' as *;

.navigation-row {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $nav-height;

    @media screen and (max-width: $breakpoint-m) {
      height: $nav-height-m;
    }
  }

  &__logo-box {
    min-width: 3rem;
    height: 2rem;
  }

  // &__navbar {
  // }

  &__burger-menu {
    display: none;
    font-size: 1.5rem;

    @media screen and (max-width: $breakpoint-xs) {
      display: inline-block;
    }

    &_active {
      color: $primary;
    }
  }
}

.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media screen and (max-width: $breakpoint-xs) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-left: 2rem;
    line-height: 2;
    color: $text;
    user-select: none;

    &:hover {
      color: $primary;
    }

    &_active {
      color: $primary;
      border-bottom: 2px solid $primary;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  &_visible {
    display: block;
  }
}
