$primary: #50b3a2 !default;
$surface: #f4f7fc !default;
$white: #fff !default;
$dark: #262626 !default;
$text: #333 !default;
$paleText: #acacad !default;

$font-main: poppins, sans-serif !default;

$breakpoint-xs: 576px !default;
$breakpoint-s: 768px !default;
$breakpoint-m: 992px !default;
$breakpoint-l: 1200px !default;
$breakpoint-xl: 1440px !default;

$quick-contacts-height: 2.5rem !default;
$nav-height: 5rem !default;
$nav-height-m: 4rem !default;
