<section id="about" class="about-section main-section">
  <div class="wrap">
    <h2 class="main-section__title">About Me</h2>
    <div class="about-section__container">
      <div class="about-section__info">
        <h3 class="about-section__subtitle">Lorem, ipsum.</h3>
        <p class="about-section__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus perferendis nesciunt recusandae nulla
          repellat, cupiditate iure ullam quam adipisci, quaerat tenetur, accusamus debitis neque quae. Odio,
          laboriosam? Quod, maxime recusandae.
        </p>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, vel soluta veritatis alias accusamus quia
          optio. Delectus cumque, quia saepe deserunt molestias odit maiores in.
        </p>
      </div>
      <div class="about-section__photo-box">
        <img class="about-section__photo" src="../../assets/images/main-photo.png" alt="">
      </div>
    </div>
  </div>
</section>
