<section id="about" class="about-section main-section">
  <div class="wrap">
    <h2 class="main-section__title">About</h2>
    <div class="about-section__container">
      <div class="about-section__info">
        <h3 class="about-section__subtitle">Hello, it's me.</h3>
        <p class="about-section__text">
          I love and understand the code, and since I realized it, almost all my time is devoted to programming.
        </p>
        <p>
          I enjoy creating things that live on the internet, whether that be websites, applications, or anything in
          between. I always want to learn more, do more, and be more. I’m also a firm believer that we should never
          settle.
        </p>
        <p>In addition, I’m hardworking, super curious, committed, and also a fast learner!</p>
      </div>
      <div class="about-section__photo-box">
        <img class="about-section__photo" src="../../assets/images/main-photo.png" alt="">
      </div>
    </div>
  </div>
</section>
