<section id="about" class="about-section main-section">
  <div class="wrap">
    <h2 class="main-section__title">About Me</h2>
    <div class="about-section__container">

    </div>
  </div>
</section>
