<section id="home" class="banner-section main-section">
  <div class="wrap">
    <div class="banner-section__container">
      <div class="banner-section__content"></div>
    </div>
  </div>
</section>
