<section id="home" class="banner-section main-section">
  <div class="wrap">
    <div class="banner-section__container">
      <div class="banner-section__content">
        <h1 class="banner-section__name">
          Ilya Kaptsevich
        </h1>
        <h2 class="banner-section__position">
          Front End Developer
        </h2>
        <a href="./docs/CV_JS_developer_Kaptsevich.docx" download="CV_JS_developer_Kaptsevich.docx"
          class="banner-section__download-btn btn">Download
          CV</a>
      </div>
    </div>
  </div>
</section>
