<section id="contact" class="contact-section main-section">
  <div class="wrap">
    <h2 class="main-section__title">Contact Me</h2>
    <div class="contact-section__container">

      <form name="contact" action="{{!-- https://formspree.io/xrgypeee --}}"
        class="contact-section__contact-form contact-form" method="POST">
        <h3 class="contact-form__head">Send Me A Note</h3>
        <input required="" placeholder="Name" class="contact-form__input" type="text" name="name" id="name"
          autocomplete="off">
        <input required="" placeholder="Email Address" class="contact-form__input" type="email" name="_replyto"
          id="email" autocomplete="off">
        <input placeholder="Subject" class="contact-form__input" type="text" name="_subject" id="subject"
          autocomplete="off">
        <textarea required="" placeholder="Your Message" name="message" class="contact-form__textarea"
          id="message"></textarea>
        <button class="contact-form__submit-btn btn" type="submit">Send Mail</button>
      </form>

      <div class="contact-section__medias">
        <h3 class="contact-section__medias-head">Catch Me On</h3>
        <ul class="social-list social-list_orientation_vertical">
          <li class="social-list__item social-list__item_type_circle">
            <a class="social-list__link" href="tel:+375336549582"><i class="fa fa-phone-alt"></i></a>
          </li>
          <li class="social-list__item social-list__item_type_circle">
            <a class="social-list__link" href="mailto:kaptsevich.i@gmail.com"><i class="fas fa-envelope"></i></a>
          </li>
          <li class="social-list__item social-list__item_type_circle">
            <a href="https://t.me/Ilya_Kaptsevich" target="_blank" class="social-list__link">
              <i class="fab fa-telegram-plane"></i>
            </a>
          </li>
          <li class="social-list__item social-list__item_type_circle">
            <a href="https://www.linkedin.com/in/ilya-kaptsevich/" target="_blank" class="social-list__link">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="social-list__item social-list__item_type_circle">
            <a href="https://github.com/HyBeard" target="_blank" class="social-list__link">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="social-list__item social-list__item_type_circle">
            <a href="https://www.facebook.com/ilya.kaptsevich" target="_blank" class="social-list__link">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
