<footer class="site-footer">
  <div class="wrap">
    <a href="#" class="site-footer__up-btn">
      <i class="fas fa-chevron-up"></i>
    </a>
    <div class="site-footer__socials">
      <ul class="social-list">
        <li class="social-list__item">
          <a href="https://www.linkedin.com/in/ilya-kaptsevich/" target="_blank" class="social-list__link">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="social-list__item">
          <a href="https://www.facebook.com/ilya.kaptsevich" target="_blank" class="social-list__link">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="social-list__item">
          <a href="https://github.com/HyBeard" target="_blank" class="social-list__link">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
    <hr>
    <div class="site-footer__inner">
      <p>Made with ❤️ by Ilya Kaptsevich</p>
      <p>Ilya Kaptsevich © 2020 </p>
    </div>
  </div>
</footer>
