<section class="navigation-row">
  <div class="wrap">
    <div class="navigation-row__container">
      <div class="navigation-row__logo-box"><a href="#" class="logo"></a></div>
      <nav class="navbar navigation-row__navbar">
        <ul class="navbar__list">
          <li class="navbar__item" data-ref="home">
            <a href="#" class="navbar__link">Home</a>
          </li>
          <li class="navbar__item" data-ref="skills">
            <a href="#skills" class="navbar__link">Skills</a>
          </li>
          <li class="navbar__item" data-ref="about">
            <a href="#about" class="navbar__link">About</a>
          </li>
          <li class="navbar__item" data-ref="projects">
            <a href="#projects" class="navbar__link">Projects</a>
          </li>
          <li class="navbar__item" data-ref="contact">
            <a href="#contact" class="navbar__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="navigation-row__hamburger hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</section>
