<div class="quick-contacts">
  <div class="wrap">
    <div class="quick-contacts__container">

      <div class="quick-contacts__communications">
        <ul class="communications-list">
          <li class="communications-list__item communications-list__item_type_phone">
            <a class="communications-list__link" href="tel:+375336549582">
              <i class="fas fa-phone-alt communications-list__icon"></i>
              <span class="communications-list__text">+375 33 654-95-82</span>
            </a>
          </li>
          <li class="communications-list__item communications-list__item_type_email">
            <a class="communications-list__link" href="mailto:kaptsevich.i@gmail.com">
              <i class="fas fa-envelope communications-list__icon"></i>
              <span class="communications-list__text">kaptsevich.i@gmail.com</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="quick-contacts__social">
        <ul class="social-list">
          <li class="social-list__item">
            <a href="https://www.linkedin.com/in/ilya-kaptsevich/" target="_blank" class="social-list__link">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://www.facebook.com/ilya.kaptsevich" target="_blank" class="social-list__link">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://github.com/HyBeard" target="_blank" class="social-list__link">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
