<section id="skills" class="skills-section main-section">
  <div class="wrap">
    <h2 class="main-section__title">My Skills</h2>
    <div class="skills-section__container">
    </div>
  </div>
</section>
